* {
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
}

body {
	/*overflow: hidden;*/
}

.row {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}

.button {
    background-color: #ff1b85;
    color: #fefefe; 
}
.button:hover, .button:focus {
    background-color: #d4006a;
    color: #fefefe; 
}

.header {
	padding: 6px 0 3px 0; /* top right bottom left*/
	margin: 0px;
	background-color: #d4006a;
	color: #ffffff;
}

.subheader {

	margin-top: 0px;
	background-color: #ff1b85;
	color: #fefefe;
	padding: 50px 0 20px 0 ; /* top right bottom left*/

	-webkit-box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.4) inset;
    box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.4) inset;

    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.subheader h6 {
	margin-bottom: 0px;
}

.footer {
	text-align: right;
	margin: auto;
}

.result {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

.modify {
	font-size: 80%;
}

.modify a:link { 
	color: #AAAAAA; 
}
.modify a:visited { 
	color: #888888; 
}
.modify a:hover { 
	color: #CCCCCC; 
}
.modify a:active { 
	color: #BBBBBB; 
}

.medium {
	width: 94%;

	margin-left: 3%;
	margin-right: 3%;
}


hr {
	width: 100%;
}

h1 {
	letter-spacing: 0.1em;
	margin-bottom: 0;
}

h1, h6 {
	margin-left: 3%;
	margin-right: 3%;
}

small {
	font-size: 16px;
}

form {
	margin-top: 32px;
}

/*.v-middle-inner {
	display: table-cell;
	vertical-align: middle;
}*/

#submit {
	width: 94%;
	height: 2em;
	padding-top: 0.5em;
	vertical-align: middle;
	text-align: center;
	font-size: 1.4em;

	margin-left: 3%;
	margin-right: 3%;
}

#query {
	width: 94%;
	height: 4em;

	margin-left: auto;
	margin-right: auto;
}

@media screen and ( max-width: 639px )
{
	h6
	{
		font-size: 12px;
	}
}

#title {
	text-align: center;
}

#sub-title {
	height: 100%;
}

#result {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}